In [82]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [24]:
titles.shape

(244914, 2)

### How many movies are listed in the titles dataframe?

In [25]:
titles.size

489828

### What are the earliest two films listed in the titles dataframe?

In [28]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [38]:
len(titles[titles.title=='Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [42]:
len(titles[titles.title=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [49]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [51]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [55]:
len(titles[titles.year==1950])

1113

### How many movies were made in the year 1960?

In [56]:
len(titles[titles.year==1960])

1549

### How many movies were made from 1950 through 1959?

In [ ]:
len(titles[(1950<=titles.year) & (titles.year<1960)])

### In what years has a movie titled "Batman" been released?

In [16]:
titles[titles.title=='Batman'].year

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [18]:
df=pd.read_csv('cast.csv')

In [28]:
df.head(20)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0

In [22]:
len(df[df.title=='Inception'].type)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [27]:
df[df.title=='Inception'].n.isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [29]:
df[df.title=='Inception'].n.notnull().sum()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [36]:
df[df.title=='North by Northwest'].sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
...,...,...,...,...,...,...
3441077,North by Northwest,1959,Maudie Prickett,actress,Elsie - Maid,NaN
3577128,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3599912,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3739133,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3751311,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [43]:
df[(df.title=='Sleuth') & (df.year==1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [46]:
df[(df.title=='Slueth') & (df.year==2007)].sort_values('n')

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### How many roles were credited in the silent 1921 version of Hamlet?

In [47]:
len(df[(df.title=='Hamlet') & (df.year==1921)].name)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [48]:
len(df[(df.title=='Hamlet') & (df.year==1996)].name)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [49]:
len(df[(df.title=='Hamlet')].name)

342

### How many people have played an "Ophelia"?

In [61]:
len(df[df['character']=='Ophelia'])

117

### How many people have played a role called "The Dude"?

In [63]:
len(df[df['character']=='The Dude'])

19

### How many people have played a role called "The Stranger"?

In [64]:
len(df[df['character']=='The Stranger'])

212

### How many roles has Sidney Poitier played throughout his career?

In [65]:
len(df[df['name']=='Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [66]:
len(df[df.name=='Judi Dench'])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [73]:
df[(df.name=='Cary Grant') &((df.year>1939) & (df.year<1950))].sort_values('n')

,title,year,name,type,character,n
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [74]:
df[(df.name=='Cary Grant') &((df.year>1939) & (df.year<1950))].sort_values('year')

,title,year,name,type,character,n
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [76]:
len(df[(df.type=='actor')&((df.year>1949) & (df.year<1960))])

157738

### How many roles were available for actresses in the 1950s?

In [77]:
len(df[(df.type=='actress')&((df.year>1949) & (df.year<1960))])

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [78]:
len(df[(df.n==1)&(df.year<1981)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [79]:
len(df[(df.n!=1)&(df.year<1981)])

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [84]:
len(df[(df.n==np.NaN)&(df.year<1981)])

0